.skins-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* justify-items: stretch;
    align-items: stretch; */
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
}