.skins-container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 80%;
  height: 200px;
  margin: 100px auto 0 auto;
  overflow: hidden;
  overflow-x: scroll;
}

.image-skin-container {
  border: 1px solid gray;
  display: flex;
  width: 75px;
  height: 75px;
  margin: 0 10px;
  transition: all .2s ease-in;
}

.image-skin {
  object-fit: cover;
  aspect-ratio: 3/2;
}

.current-weapon {
  border: 1px solid red;
  width: 60%;
  margin: 0 auto;
  /* display: flex; */
  justify-content: space-around;
  padding: 100px;
  height: 460px;

}

.image-skin-current {
  object-fit: contain;
  height: 200px;
  pointer-events: none;
}

.swatch-container {
  display: flex;
}

.swatch-image {
  margin: 0 10px;
  border: 1px solid gray;
  padding: 5px;
  transition: all .2s ease-in;
}

.swatch-image:hover, .image-skin-container:hover {
  border-width: 3px;
}
